<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Hola {{ user.username }}</h1>
    <a href="{% url 'sign_out' %}">Cerrar sesión</a>
    {% else %}
    <a href="{% url 'sign_in' %}">Iniciar sesión</a>
    {% endif %}
  <h1>Eventos</h1>
  {% if events %}
    <ul>
      {% for event in events %}
        <li>
          <a href="{% url 'meeting:show_event' event.id %}">
            {{ event.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay eventos aún.</p>
  {% endif %}
</body>
</html>